<div class="individual-movie-container p-2">
    <a href="@movieURL">
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p><a href="@movieURL" class="d-flex justify-content-center">@Movie.TitleBrief</a></p>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success" href="/movies/edit/@Movie.Id">Edit</a>
        <button type="button" class="btn btn-danger" style="margin-left:5px"
                @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">
            Delete
        </button>
    </div>
</div>


@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }
    private string movieURL = string.Empty;

    protected override void OnInitialized()
    {
        movieURL = $"movie/{Movie.Id}/{Movie.Title.Replace(" ", "-")}";
    }
}
